body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; /* Add this line if you want the body to have 100% width */
    overflow: hidden;
    font-family: Changa, sans-serif !important;
  }

  .changa-normal {
    font-family: Changa, sans-serif;
    font-optical-sizing:inherit;
    font-weight: 300;
    font-style: normal;
  }


  #top-bar {
    display: flex;
    align-items: center; /* Center items vertically */
    position: relative;
    width: 100%;
    height: 7%; /* Adjust the height of the top bar if needed */
    overflow: hidden;
    background-color: #404B69;
    padding: 0 2%; /* Use percentage padding to ensure responsiveness */
}

.chatbot-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6%; /* Adjust the left margin as needed */
}

.material-symbols-outlined {
    margin-right: 2%; /*change 1*/
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

#chatbot-img {
    height: 60px; /* Adjust the height as needed */
    width: auto; /* Maintain aspect ratio */
    cursor: pointer;
}

#export-all-button {
    margin-left: 2%;
    margin-right: 2%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: left;
    height:80%;
    display: inline-flex;
    align-items: center;
    font-family: Changa, sans-serif;
}

#import-all-button {
    margin-right: 1%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: black;
    cursor: pointer;
    align-self: left;
    height:80%;
    display: inline-flex;
    align-items: center;
    font-family: Changa, sans-serif;
}

.logo-container {
    display: flex;
    align-items: center; /* Center items vertically within the container */
    margin-left: -10px;
    height: 100%; /* Ensure the container takes the full height of the top bar */
}

.team-logo {
    height: 70%; /* Adjust the height as needed to make the logo smaller */
    object-fit: contain; /* Ensure the logo fits within its container without distortion */
}

.search-bar-container {
    display: flex;
    align-items: center; /* Center items vertically */
    margin-left: 21.5%;
    width: 50%; /* Allow the container to adjust its width based on content */
    height: 65%;
    padding: 5px 10px; /* Add padding to the search container */
    border-radius: 20px; /* Reduce border radius */
    background: #f6f6f6;
}

#search-bar {
    width: auto; /* Allow the search bar to adjust its width based on content */
    font-size: 0.8rem; /* Reduce font size */
    margin-left: 10px; /* Adjust margin */
    margin-top: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    resize: none;
    position: relative; /* added */
}

.outer-container {
    display: flex;
    position: absolute;
    overflow: hidden;
    bottom:0;
    width: 100%;
    height: 93%;
    overflow-y:hidden;
}


#project-nav {
    position: relative;
    flex-shrink: 0;
    width: 8%;
    background-color: #222831;
    overflow-y: scroll;
    scrollbar-width: none;
}

#add-note {
    background-color: #1aaab5;
    color: #EEE;
    height: 8%;
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.2em;
    display: block;
}
 

#add-note:hover {
    background-color:#015c63;
}

.entry-button {
    background-color: #00818A;
    color: #EEE;
    height: 6vh;
    width: 75%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    display:block;
    margin-bottom: 1.4vw;
}

.entry-button:hover {
    background-color: #015c63;
    cursor:pointer;
}

button {
    cursor:pointer;
}

#project-nav::-webkit-scrollbar, #project-nav::-webkit-scrollbar-button { display: none; } /* Chrome */

.right-inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    background-color: #d9d9d9;
}

#content {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

#entries-list {
    flex-direction: column;
    flex: 0 0 auto;
    overflow: hidden;
    min-height: 0;
    width: 280px;
    border-right: 3px solid #222831;
    background-color: #31363F;
    color: #EEEE;
    overflow-y: scroll;
    scrollbar-width: none;
}

h3 {
    margin-bottom: 0.2vw;
    font-size:2em;
}

#right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    background-color: #31363F;
}

#curr-proj {
    text-align: center;
    font-size:2.3em;
    margin:0.5vh auto;
    color:#a3eefb;
    font-weight: bold;
    
}

#note-view {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 83%;
    height: 90%;
    z-index: 1;
    background-color: #222831;
    padding: 1.5vw;
    border-radius: 15px;
    color: #EEEE;
    padding-top:0.1vw;
}

#note-view.hidden {
    display: none;
}

.note-bar {
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid black; 
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns with equal width */
    gap: 10px; /* Optional: space between the columns */
}


.left-note-bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
   
}

#note-title {
    margin-bottom:0;
}

.top-item {
    display:inline-block;
    height:50%;
    border: 1px solid;
    margin: auto 0;
    padding:0;
    margin-left:1vh;
    text-align:center;
    font-size:1.35em;
}

#tags {
    margin-right: auto;
}

.top-buttons {
    display: flex;
    margin-left: auto;
    width:100%;
    justify-content:end;
    margin-right:1vh;
}

.top-buttons button {
    width:40%;
    background-color:#00818A;
    border:0;
    border-radius:7.5px;
    color:white;
    font-family: Changa, sans-serif;
}

.top-buttons button:hover {
    background-color: #015c63;
}


.md-view {
    overflow-y:scroll;
    flex-grow: 1; 
    width: 100%;
    font-family:Changa, sans-serif;
}

.project-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1000;
    color:#283149;
}

.project-popup-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confirm-new-project {
    background-color: #00818A;
    color: white;
    border-radius: 10px;
    border:none;
    margin-top: 10px;
    padding: 9px;
    font-size: medium;
}

.project-delete-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1000;
}

.project-delete-popup-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-confirm {
    display: flex;
    gap: 10px;
}

#confirm-delete-project {
    background-color: red;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 9px;
    font-size: medium;
}

#cancel-delete-project {
    background-color: #1aaab5;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 9px;
    font-size: medium;
}

.note-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
    z-index: 1000;
    color:#283149;
}

.note-popup-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-type {
    margin: 5px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: #00818A;
    color: white;
    font-size: medium;
}

.note-type:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

#choose-note {
    background-color: #00818A;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 9px;
    font-size: medium;
}

.project-icon {
    width: 73px;
    height: 65px;
    font-size: 2.5em;
    text-align: center;
    padding: 0;
    border: 0;
    margin:auto;
    margin-top:0.5vh;
    background-color: #d9d9d9;
    color: #283149;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    user-select: none;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Truncate text with an ellipsis if it overflows */
    position: relative; /* Ensure children are positioned relative to this */
    font-weight:normal;
}

button.project-icon {
    font-size: 4em;
    font-weight:normal;
}

.project-icon:hover {
    background-color:#c3c3c3;
}

.proj-delete-button {
    display: none;
    background: red;
    color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    width: 73px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin-bottom: auto;
  }

.project-icon:hover .proj-delete-button {
    display: block!important;
    position:absolute;
    top:0;
    text-align:center;
}

/* css for tags */


.tag-input-container {
    display: flex;
    height: 40%;
    align-items: center;
    padding: 2px 5px;
    padding:0;
}


#tags-container .tag{
    padding: 2px 5px;
    margin: 2px;
    background-color: #00818A;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
    display: inline-block;
}

#tag-input {
    font-size: 1em;
    padding: 10px 15px; /* Increase padding to create space inside the input */
    border: 1px solid #1aaab5; /* Teal border color */
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    margin-right: 2px; /* Reduce space between input and button */
    background-color: #c3c3c3; /* Dark background to match theme */
    color: black; /* White text color */
}

#add-tag-button {
    margin-right: 1%;
    display: flex;
    padding: 10px 15px; /* Increase padding to enlarge the button */
    background-color: #1aaab5;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    cursor: pointer;
    font-size: 1em;
}

#add-tag-button:hover {
    background-color: #00818A;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #DBEDF3
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00818A;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  

.delete-tag-button {
    background: none;
    border: 3px;
    color: #f64009;
    font-size: 1.5em;
    cursor: pointer;
}

.hidden * {
    display: none;
}

#search-results-container {
    display: grid;
    background-color: #fff;
    overflow: auto;
    z-index: 1;
    position: absolute;
    width: 60%;
    height: 100vh;
    border-top: black 1px solid;
}

#search-results-container.hidden {
    display: none;
}

.search-result {
    padding: 3px;
    padding-left: 9px;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}

.search-result:hover {
    background-color: #ccc;
}

.result-title {
    font-size: 120%;
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {
    #export-all-button, #import-all-button {
        padding: 10px;
        font-size: 12px;
        height: 60%;
    }
    
    .search-bar-container {
        width: 40%;
        margin-left: 20px;
    }

    #project-nav{
        width: 5%
    }

    #new-project-button{
        width: 100%;
        height: 5%;
    }
}